@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap");

* {
  font-family: "Karla", sans-serif;
}

.custom-navbar {
  font-size: 1.3rem;
  background-color: #4392f1 !important;
  /* background-color: #ffdd59 !important; */
}

.custom-body {
  padding-top: 2rem;
}

.centerText {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.table-font {
  font-size: 1rem;
}

table {
  width: 100%;
}

td:not(.different) {
  max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td:hover {
  max-width: 200px;
  word-wrap: break-word;
  overflow: visible;
  white-space: unset;
}

.Aprobado {
  color: green;
}

.Rechazado {
  color: red;
}
.negritas {
  font-weight: bold;
}

.studentInfo {
  border: 5px rgb(255, 221, 70) solid;
  border-radius: 5px;
  margin-bottom: 20px;
}

.custom-border {
  border: 1px rgb(59, 8, 141) solid;
  border-radius: 5px;
  padding: 10px 20px;
}
